/* TOOLBAR */
/* TOOLBAR : set user button, logout button to the right of the screen. */
.example-spacer {
    text-align: center;
    display: inline-block;
    width: 100%;
}

/* TOOLBAR : set user button, logout button color to grey */
mat-toolbar-row > a.profile {
    /* color: grey; */
    color: white;
}

mat-toolbar-row > a.logout {
    /* color: lightgray; */
    color: white;
}

