<article class="profile" id="profile">
    <article class="profile__background rounded-corner-em">
        <article class="profile__background__certs" id="certs__less-1">

          <!-- <mat-accordion> -->
            <mat-expansion-panel hideToggle expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3>Licenses & Certifications</h3>
                </mat-panel-title>
                <mat-panel-description>
                  <!-- This is a summary of the content -->
                </mat-panel-description>
              </mat-expansion-panel-header>
              <section class="profile__background__certs__cert">
                <h4>HTML CSS CTF02 (Knowledge): Coding the Future รุ่นที่ 2</h4>
                <h5>พลเมืองดีจิทัล อคาดามี่</h5>
                <p><span>Issued Feb 2021</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID cert_4818qdt0</p>
                <hr class="hr-light">
              </section>
      
              <section class="profile__background__certs__cert">
                <h4>The Fundamentals of Digital Marketing</h4>
                <h5>Google Digital Garage</h5>
                <p><span>Issued Feb 2021</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID BDM J2W VYX</p>
                <a href="https://learndigital.withgoogle.com/digitalgarage/validate-certificate-code" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
        
              <section class="profile__background__certs__cert">
                <h4>Advanced Styling with Responsive Design</h4>
                <h5>Coursera</h5>
                <p><span>Issued Jan 2021</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID ZF2EXCJUQDFN</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/ZF2EXCJUQDFN" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
        
              <section class="profile__background__certs__cert">
                <h4>Interactivity with JavaScript</h4>
                <h5>Coursera</h5>
                <p><span>Issued Jan 2021</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID QBBJE28TFQP8</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/QBBJE28TFQP8" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Introduction to CSS3</h4>
                <h5>Coursera</h5>
                <p><span>Issued Jan 2021</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID RSW6SJTRQZL5</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/RSW6SJTRQZL5" target="_blank">See credential</a>
                <!-- <hr class="hr-light"> -->
              </section>
  
            </mat-expansion-panel>
  
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  See all skills
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!-- <p>I'm visible because I am open</p> -->
              <section class="profile__background__certs__cert">
                <h4>Introduction to HTML5</h4>
                <h5>Coursera</h5>
                <p><span>Issued Jan 2021</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID D3YWU9H87HCK</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/D3YWU9H87HCK" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
            
              <section class="profile__background__certs__cert">
                <h4>UX/UI Design CTF02 (Knowledge only)</h4>
                <h5>พลเมืองดีจิทัล อคาดามี่</h5>
                <p><span>Issued Jan 2021</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID cert_3c3bhbkt</p>
                <hr class="hr-light">
              </section>
    
              <section class="profile__background__certs__cert">
                <h4>Coding Fundamentals</h4>
                <h5>Grasshopper</h5>
                <p><span>Issued Dec 2020</span> &#183; <span>No Expiration Date</span></p>
                <a href="../../assets/imgs/certs/2020-12-14grasshoppercodingfundamentals.png" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Coding Fundamentals II</h4>
                <h5>Grasshopper</h5>
                <p><span>Issued Dec 2020</span> &#183; <span>No Expiration Date</span></p>
                <a href="../../assets/imgs/certs/2020-12-22grasshoppercodingfundamentalsii.png" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Enterprise System Management and Security</h4>
                <h5>Coursera</h5>
                <p><span>Issued Dec 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID WGKJGUSNBRLN</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/WGKJGUSNBRLN" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>The Unix Workbench</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID DWJNSWYXUX64</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/DWJNSWYXUX64" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Automating Real-World Tasks with Python</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID NMDFMV9MG3WB</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/NMDFMV9MG3WB" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Capstone: Retrieving, Processing, and Visualizing Data with Python</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID X347N34EH9DQ</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/X347N34EH9DQ" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Configuration Management and the Cloud</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 7G26246FAACG</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/7G26246FAACG" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Google IT Automation Professional Certificate</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <a href="https://www.youracclaim.com/badges/96c5c589-4035-4a30-81b7-e2f69d0d460e?source=linked_in_profile" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Google IT Automation with Python Specialization</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 5ADYLFZ29PZP</p>
                <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/5ADYLFZ29PZP" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Introduction to Git and GitHub</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID UXZVT6XW5E9B</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/UXZVT6XW5E9B" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Practical Vim Editor Commands On Linux</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 67FV2ESALGM3</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/67FV2ESALGM3" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Programming Fundamentals</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID ZN8Z36LX7Z4W</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/ZN8Z36LX7Z4W" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Python for Everybody Specialization</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 4LLUQG7CKFRF</p>
                <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/4LLUQG7CKFRF" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Troubleshooting and Debugging Techniques</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID SLJ45RC2ZTE6</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/SLJ45RC2ZTE6" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Using Databases with Python</h4>
                <h5>Coursera</h5>
                <p><span>Issued Nov 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 6FBCE8Q68QQP</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/6FBCE8Q68QQP" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Command Line in Linux</h4>
                <h5>Coursera</h5>
                <p><span>Issued Oct 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID V3VNTZCXTEBJ</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/V3VNTZCXTEBJ" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Computational Thinking for Problem Solving</h4>
                <h5>Coursera</h5>
                <p><span>Issued Oct 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID QGZFE7F4KYY8</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/QGZFE7F4KYY8" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Internet History, Technology, and Security</h4>
                <h5>Coursera</h5>
                <p><span>Issued Oct 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID ERANBRA7T83Y</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/ERANBRA7T83Y" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Programming for Everybody (Getting Started with Python)</h4>
                <h5>Coursera</h5>
                <p><span>Issued Oct 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID F3FVAMCGMTTB</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/F3FVAMCGMTTB" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Python Data Structures</h4>
                <h5>Coursera</h5>
                <p><span>Issued Oct 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID FBUAAQ7ELXG9</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/FBUAAQ7ELXG9" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Using Python to Access Web Data</h4>
                <h5>Coursera</h5>
                <p><span>Issued Oct 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 6VWA865GVDUJ</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/6VWA865GVDUJ" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Economics of Money and Banking</h4>
                <h5>Coursera</h5>
                <p><span>Issued Sep 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID JFBHVPSBTA4G</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/JFBHVPSBTA4G" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Financial Accounting Foundations</h4>
                <h5>LinkedIn</h5>
                <p><span>Issued Sep 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID AdjdqkrfUfmwFhJsDSJhuLoAo82D</p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Investment Management Specialization</h4>
                <h5>Coursera</h5>
                <p><span>Issued Sep 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID FDEJ9MNB8ZHB</p>
                <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/FDEJ9MNB8ZHB" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Managerial Economics</h4>
                <h5>LinkedIn</h5>
                <p><span>Issued Sep 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID AfOeuUQkO8pSYrvVslPCaGr6jN00</p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Mindware: Critical Thinking for the Information Age</h4>
                <h5>Coursera</h5>
                <p><span>Issued Sep 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID UMCSTYLBUDSS</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/UMCSTYLBUDSS" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Planning your Client's Wealth over a 5-year Horizon</h4>
                <h5>Coursera</h5>
                <p><span>Issued Sep 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID ETSA7QZEB284</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/ETSA7QZEB284" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Securing Investment Returns in the Long Run</h4>
                <h5>Coursera</h5>
                <p><span>Issued Sep 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID J7ZVY3B7RSH7</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/J7ZVY3B7RSH7" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Google IT Support Professional Certificate</h4>
                <h5>Coursera</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <a href="https://www.youracclaim.com/badges/d796632b-806f-45fe-9dbf-848e1e8f268b?source=linked_in_profile" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Google IT Support Specialization</h4>
                <h5>Coursera</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID B4U8WVX4AQ4J</p>
                <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/B4U8WVX4AQ4J" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Meeting Investors' Goals</h4>
                <h5>Coursera</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID CEJ2N7XKDTNH</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/CEJ2N7XKDTNH" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Operating Systems and You: Becoming a Power User</h4>
                <h5>Coursera</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID YMWUY5JZVH98</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/YMWUY5JZVH98" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Portfolio and Risk Management</h4>
                <h5>Coursera</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 9K8L2AFD6KUK</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/9K8L2AFD6KUK" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>System Administration and IT Infrastructure Services</h4>
                <h5>Coursera</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID HD8KN3EZT7A8</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/HD8KN3EZT7A8" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>The Bits and Bytes of Computer Networking</h4>
                <h5>Coursera</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID XZ27S82JTB9U</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/XZ27S82JTB9U" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Understanding Financial Markets</h4>
                <h5>Coursera</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID ZT3Q5Z683ZJE</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/ZT3Q5Z683ZJE" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>กู้ชีพกู้ใจ...ใครๆ ก็ทำได้ | Basic Life Support</h4>
                <h5>Thai MOOC</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID e317d69ba40c4809a31759edbe747bf9</p>
                <a href="https://lms.thaimooc.org/certificates/e317d69ba40c4809a31759edbe747bf9" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>ระบบเครือข่ายคอมพิวเตอร์ขั้นพื้นฐาน | Network Literacy</h4>
                <h5>Thai MOOC</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID e8e0628843a3427abc95ba35b7be203b</p>
                <a href="https://lms.thaimooc.org/certificates/e8e0628843a3427abc95ba35b7be203b" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>รู้ทันภัยไซเบอร์ | Cybersecurity Awareness</h4>
                <h5>Thai MOOC</h5>
                <p><span>Issued Aug 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID a1db0cc277a448458b22acd8bd1768e3</p>
                <a href="https://lms.thaimooc.org/certificates/a1db0cc277a448458b22acd8bd1768e3" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Diversity, Inclusion, and Belonging for All</h4>
                <h5>LinkedIn</h5>
                <p><span>Issued Jul 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID AabQ8yt-KtXT5IlFTyztaODJiNWe</p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>IT Security: Defense against the digital dark arts</h4>
                <h5>Coursera</h5>
                <p><span>Issued Jul 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID N5GF3ZBDVAB6</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/N5GF3ZBDVAB6" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Technical Support Fundamentals</h4>
                <h5>Coursera</h5>
                <p><span>Issued Jul 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID LJ99W5R2KBJY</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/LJ99W5R2KBJY" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>The Global Financial Crisis</h4>
                <h5>Coursera</h5>
                <p><span>Issued Jul 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID CXZKDEHBNSEA</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/CXZKDEHBNSEA" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>เงินทองต้องวางแผน</h4>
                <h5>SET e-Learning</h5>
                <p><span>Issued Jul 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID WMD1001-00012563300143</p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Crash Course on Python</h4>
                <h5>Coursera</h5>
                <p><span>Issued Feb 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID JZR8SGE58ZRU</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/JZR8SGE58ZRU" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Happy Retirement</h4>
                <h5>CHULA MOOC</h5>
                <p><span>Issued Feb 2020</span> &#183; <span>No Expiration Date</span></p>
                <a href="https://mycourseville-default.s3.ap-southeast-1.amazonaws.com/course_files/2019_2/17902/cvcert_usercert/certificate_17902_354984.354984.1581087852.4174.jpg" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Think Again I: How to Understand Arguments</h4>
                <h5>Coursera</h5>
                <p><span>Issued Feb 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 28VRLYNZ5EV9</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/28VRLYNZ5EV9" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Understanding Financial Statement</h4>
                <h5>CHULA MOOC</h5>
                <p><span>Issued Feb 2020</span> &#183; <span>No Expiration Date</span></p>
                <a href="https://mycourseville-default.s3.ap-southeast-1.amazonaws.com/course_files/2019_2/18098/cvcert_usercert/certificate_18098_354984.354984.1581135546.5943.jpg" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Using Python to Interact with the Operating System</h4>
                <h5>Coursera</h5>
                <p><span>Issued Feb 2020</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID Q3BJWUSVQE94</p>
                <a href="https://www.coursera.org/account/accomplishments/certificate/Q3BJWUSVQE94" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Shoulder complex Management - Improving in Clinical Research and Clinical Practice VI</h4>
                <h5>Faculty of Allied Health Sciences – Chulalongkorn University</h5>
                <p><span>Issued Dec 2019</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>PT management in patients with lumbo-pelvic-hip pain - Improving in Clinical Research and Clinical Practice IV</h4>
                <h5>Faculty of Allied Health Sciences – Chulalongkorn University</h5>
                <p><span>Issued Dec 2017</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>From Poverty to Prosperity: Understanding Economic Development</h4>
                <h5>edX</h5>
                <p><span>Issued Apr 2017</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 9ab5c52596cb4a12b27ab92d7ef727a0</p>
                <a href="https://courses.edx.org/certificates/9ab5c52596cb4a12b27ab92d7ef727a0" target="_blank">See credential</a>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>JCMS 2015: Health Equity through Innovation and Collaboration</h4>
                <h5>Faculty of Medicine Ramathibodi Hospital, Mahidol University</h5>
                <p><span>Issued Dec 2015</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>New Therapeutic Solution: MLS Laser Therapy</h4>
                <h5>ASAlaser</h5>
                <p><span>Issued May 2015</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Improving in Clinical Research and Clinical Practice</h4>
                <h5>Faculty of Allied Health Sciences – Chulalongkorn University</h5>
                <p><span>Issued Dec 2014</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Update in Electrotherapy Application</h4>
                <h5>Faculty of Allied Health Sciences – Chulalongkorn University</h5>
                <p><span>Issued Dec 2014</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Movement Impairment Syndromes of Lumbar spine and Hip Joint</h4>
                <h5>Srinakharinwirot University</h5>
                <p><span>Issued Jul 2014</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>เรื่อง "คุณภาพชีวิตและการเข้าถึงงานบริการกายภาพบำบัดในระบบปฐมภูมิ" และ เรื่อง "Neck Pain Management"</h4>
                <h5>Physical Therapy Association of Thailand (P.T.A.T)</h5>
                <p><span>Issued Apr 2013</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Basic Life Support (BLS)</h4>
                <h5>The Heart Foundation of Thailand under The Royal Patronage</h5>
                <p><span>Issued Oct 2012</span> &#183; <span>No Expiration Date</span></p>
                <p>Credential ID 1171</p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>การวิเคราะห์การเคลื่อนไหวและความสัมพันธ์ระหว่างแกนกลางและรยางค์ขา: การนำหลักฐานเชิงประจักษ์มาใช้ทางคลินิก</h4>
                <h5>Faculty of Allied Health Sciences – Chulalongkorn University</h5>
                <p><span>Issued Oct 2012</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>โครงการพัฒนาศักยภาพนักกายภาพบำบัดเพื่อการต่ออายุใบอนุญาตประกอบวิชาชีพกายภาพบำบัด</h4>
                <h5>Center of Physical Therapy Continuing Education</h5>
                <p><span>Issued Sep 2012</span> &#183; <span>No Expiration Date</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Practitioner of the Physical Therapy license</h4>
                <h5>Physical Therapy Council (Thailand)</h5>
                <p><span>Issued May 2019</span> &#183; <span>Expires May 2024</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Practitioner of the Physical Therapy license</h4>
                <h5>Physical Therapy Council (Thailand)</h5>
                <p><span>Issued May 2014</span> &#183; <span>Expires May 2019</span></p>
                <hr class="hr-light">
              </section>
              
              <section class="profile__background__certs__cert">
                <h4>Practitioner of the Physical Therapy license</h4>
                <h5>Physical Therapy Council (Thailand)</h5>
                <p><span>Issued May 2009</span> &#183; <span>Expires May 2014</span></p>
                <hr class="hr-light">
              </section>
              
            </mat-expansion-panel>
          <!-- </mat-accordion> -->



            
                                   
           
    
          </article>
    </article>
</article>