<div>
  <!-- 
    10. อัพโหลดโค๊ดขึ้น github ของตนเอง จากนั้นนำลิงก์งานที่อัพขึ้นgithubของตนเองมาใส่ในช่องใส่คำตอบ (กลับไปดูคลิปบทที่ 10 เพื่อฟังโจทย์อีกครั้ง)
    Lab 3 Component-Template-Css
    สร้าง CountingComponent (counting.component.ts) ภายใต้ folder ใหม่ชื่อ counting ประยุกต์ใช้ตัวอย่างจาก slide “Event Binding”
    สร้าง template สําหรับ CountingComponent (counting.component.html)
    สร้าง CSS stylesheet สําหรับใช้งานภายใน CountingComponent โดยเฉพาะ (counting.component.css)
    ให้ CountingComponent เรียกใช้ template และ css
    นํา CountingComponent ไปเพิ่มใน declarations ของ AppModule เพื่อให้สามารถ เร ียกใช้งานได้บน app.component.html template
    ตกแต่ง css ตามความสวยงาม

    11. อัพโหลดโค๊ดขึ้น github ของตนเอง จากนั้นนำลิงก์งานที่อัพขึ้นgithubของตนเองมาใส่ในช่องใส่คำตอบ (กลับไปดูคลิปบทที่ 11 เพื่อฟังโจทย์อีกครั้ง)
    Lab 4: ทดสอบ Directives
    สร้าง component ชื่อ Lab4Component (lab4.component.ts)
    สร้าง template, css และเชื่อมโยงเข้าด้วยกัน
    สร้างตัวแปร array เก็บ 1-10
    หน้า template ให้ใช้ ngFor เพื่อดึง item จาก array มาลูปแสดงผ่าน <p> tag
    หาก item เป็นเลขคู่ ( mod ด้วย 2 เท่ากับ 0) → ใช้ item % 2 === 0 ให้ใช้ css class ชื่อ number-even ซึ่งแสดงตัวหนังสือ (color) สีเขียว
    หาก item เป็นเลขคี่ ( mod ด้วย 2 ไม่เท่ากับ 0) → ใช้ item % 2 !== 0 ให้ใช้ css class ชื่อ number-odd ซึ่งแสดงตัวหนังสือ (color) สีแดง
  -->
  <app-lab-labhome></app-lab-labhome>

</div>