<h2>Dashboard</h2>

<div class='container mw-100'>
    <mat-card>
        <h3>NopCommerce News</h3>

        <div class="row">
            <div class="col">
                <mat-card class='news-card'>
                    <mat-card-title class='news-header'>
                        <div class='news-title-text'>
                            "Powered by nopCommerce" link
                        </div>
                    </mat-card-title>

                    <mat-card-content>

                        <div class='news-content-text'>
                            Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer? Click here for more info.
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
    
            <div class="col">
                <mat-card class='news-card'>
                    <mat-card-title class='news-header'>
                        <div class='news-title-text'>
                            Premium support services
                        </div>
                    </mat-card-title>

                    <mat-card-content>
                        <div class='news-content-text'>
                            Get dedicated support from the nopCommerce team with a guaranteed response within 24 hours. Click here for more info.
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col">
                <mat-card class='news-card'>
                    <mat-card-title class='news-header'>
                        <div class='news-title-text'>
                            Recommended hosting for your store
                        </div>
                    </mat-card-title>

                    <mat-card-content>
                        <div class='news-content-text'>
                            Everleap cloud hosting seamlessly scales sites with ease and they move stores for free. Learn more and get a 30 day free trial.
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>

<br/>

<div class='container mw-100'>
    <mat-card>
        <h3>Common statistics</h3>

            <div class="row">
                <div class="col">
                    <mat-card class='stats-orders'>
                        5<br/>
                        Orders
                    </mat-card>
                </div>
        
                <div class="col">
                    <mat-card class='stats-pending-return'>
                        0<br/>
                        Pending return requests
                    </mat-card>
                </div>
            </div>

            <br/>
        
            <div class="row">
                <div class="col">
                    <mat-card class='stats-registered-customers'>
                        7<br/>
                        Registered customers
                    </mat-card>
                </div>
        
                <div class="col">
                    <mat-card class='stats-low-stock-products'>
                        1<br/>
                        Low stock products
                    </mat-card>
                </div>
            </div>
    </mat-card>
</div>

<br/>

<div class='container mw-100'>
    <div class="row">
    
        <div class="col-8">
            <mat-card>
                <h3>Order totals</h3>
            </mat-card>
        </div>
        <br/>
    
        <div class="col-4">
            <mat-card>
                <h3>Incomplete orders</h3>
            </mat-card>
        </div>
        <br/>
    
    </div>
</div>

<br/>


<div class='container mw-100'>
    <div class="row">
    
        <div class="col-8">
            <mat-card>
                <h3>Lastest Orders</h3>
            </mat-card>
        </div>
    
        <div class="col-4">
            <mat-card>
                <h3>Popular search keywords</h3>
            </mat-card>
        </div>

    </div>
</div>

<br/>


<div class='container mw-100'>
    <div class="row">
    
        <div class="col">
            <mat-card>
                <h3>Bestsellers by quantity</h3>
            </mat-card>
        </div>
        <br/>
        
        <div class="col">
            <mat-card>
                <h3>Bestsellers by amount</h3>
            </mat-card>
        </div>
        <br/>
    
    </div>
</div>