<h2>Dashboard</h2>

<div>
    <mat-card>
        <h3>NopCommerce News</h3>

        <div class="row">
            <div class="col">
                <mat-card>"Powered by ___"link</mat-card>
            </div>
    
            <div class="col">
                <mat-card>Premium support services</mat-card>
            </div>

            <div class="col">
                <mat-card>Recommended hosting for your store</mat-card>
            </div>
        </div>
    </mat-card>
</div>

<br/>

<div>
    <mat-card>
        <h3>Common statistics</h3>

            <div class="row">
                <div class="col">
                    <mat-card>Orders</mat-card>
                </div>
        
                <div class="col">
                    <mat-card>Pending return requests</mat-card>
                </div>
            </div>

            <br/>
        
            <div class="row">
                <div class="col">
                    <mat-card>Registered customers</mat-card>
                </div>
        
                <div class="col">
                    <mat-card>Low stock products</mat-card>
                </div>
            </div>
    </mat-card>
</div>

<br/>

<div>
    <div class="row">
    
        <div class="col-8">
            <mat-card>
                <h3>Order totals</h3>
            </mat-card>
        </div>
        <br/>
    
        <div class="col-4">
            <mat-card>
                <h3>Incomplete orders</h3>
            </mat-card>
        </div>
        <br/>
    
    </div>
</div>

<br/>


<div>
    <div class="row">
    
        <div class="col-8">
            <mat-card>
                <h3>Lastest Orders</h3>
            </mat-card>
        </div>
    
        <div class="col-4">
            <mat-card>
                <h3>Popular search keywords</h3>
            </mat-card>
        </div>

    </div>
</div>

<br/>


<div>
    <div class="row">
    
        <div class="col">
            <mat-card>
                <h3>Bestsellers by quantity</h3>
            </mat-card>
        </div>
        <br/>
        
        <div class="col">
            <mat-card>
                <h3>Bestsellers by amount</h3>
            </mat-card>
        </div>
        <br/>
    
    </div>
</div>