<!-- 
13.1 อัพโหลดโค๊ดขึ้น github ของตนเอง จากนั้นนำลิงก์งานที่อัพขึ้นgithubของตนเองมาใส่ในช่องใส่คำตอบ (กลับไปดูคลิปบทที่ 13 เพื่อฟังโจทย์อีกครั้ง) 
สร้าง component ให้ครบ
    AppComponent
        HomeComponent
            NavbarComponent
                SearchBarComponent
            TopBannerComponent
            CategoryMenuComponent
ประกอบ component ที่ได้สร้างเข้าด้วยกันตาม diagram และอิงจากตัวอย่างหน้าจอ เว็บช้อปปี้ (แสดงผล ใช้ html ง่าย ๆ มาใส่) // chk Video 4, 13
-->
  
<!-- <h2>Homework1 Unit</h2> -->
<!-- <h2>Home Component Ready!</h2> -->
<app-hmwk1-navbar></app-hmwk1-navbar>

<app-hmwk1-topbanner></app-hmwk1-topbanner>
<app-hmwk1-categorymenu></app-hmwk1-categorymenu>


