<!-- <h2>Counting Component Ready!</h2> -->
<h2>Lab 3 Component-Template-Css</h2>
<ol>
    <li>สร้าง CountingComponent (counting.component.ts) ภายใต้ folder ใหม่ชื่อ
        counting ประยุกต์ใช้ตัวอย่างจาก slide “Event Binding”</li>
    <li>สร้าง template สําหรับ CountingComponent (counting.component.html)</li>
    <li>สร้าง CSS stylesheet สําหรับใช้งานภายใน CountingComponent โดยเฉพาะ
        (counting.component.css)</li>
    <li>ให้ CountingComponent เรียกใช้ template และ css</li>
    <li>นํา CountingComponent ไปเพิ่มใน declarations ของ AppModule เพื่อให้สามารถ
        เร ียกใช้งานได้บน app.component.html template</li>
    <li>ตกแต่ง css ตามความสวยงาม</li>
</ol>

<h3>Result of Lab 3</h3>

<div>
    <h2>{{ count }}</h2>
    <button (click)="countNumber()">Count</button>
</div>
<hr>