<footer class="whole">
    <p class="freepik-license">
      <small>
        Attribution: <a href="https://www.freepik.com/free-vector/cute-cat-sleeping-pillow-cartoon-icon-illustration-animal-love-icon-concept-isolated-flat-cartoon-style_10909210.htm#page=1&query=sleep%20cat&position=2">Cat avatar</a> Designed by <a href="http://www.freepik.com/">Freepik</a> using under <a href="https://support.freepik.com/hc/en-us/articles/208976585-Attribution-How-when-and-where-">Freepik License</a> 
      </small>
    </p>
    
    <p>
      <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">
        <img id="footer-copyrightico" 
        class="center" 
          src="../../assets/imgs/cc-zero.png" 
          alt="CC0 Creative Commons License Logo">
      </a>
    </p>
    
    <p>
      <a href="https://jigsaw.w3.org/css-validator/#validate_by_input" target="_blank">
          <img style="border:0;width:88px;height:31px"
              id="footer-css-validator"
              class="center"
              src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
              alt="Valid CSS!" />
      </a>
    </p>
  </footer>