.subcategory {
    display: block;
    position: fixed;
    background: rgb(220, 229, 238);
    padding: 20px;
    margin-left: -15px;
    margin-top: 1vh;
    width: 100%;
    height: 100vh;
}

.subcategory a {
    padding: 50px;
    text-decoration: none;
    background: white;
    margin: 2%;
}

.subcategory a:hover {
    background: rgb(146, 241, 213);
}

.subcategory nav a:link, .subcategory nav a:visited {
    color: rgb(37, 36, 36);
}

nav {
    margin-top: 5%;
    margin-left: 20%;
}

section > p {
    margin-top: 3%;
    margin-left: 20%;
}