/* || HEADER AND MAIN NAVIGATION */
.navbar {
    display: block;
    /* position: fixed; */
    top:0 ;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background: rgb(18, 113, 202);
    padding: 10px;
}

.navbar a {
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    background: navy;
}

.navbar a:link, .navbar a:visited {
    color:white;
}
