/* * {
    outline-style: dotted;
} */

/* .bg-top {
    background-color: #8BC34A;
    height: 20vh;
    position: fixed;
    width: 100vw;
    z-index: -1;
} */

.bg-main {
    background-color: #252525cc;
    height: 100vh;
    /* margin-top: 20vh; */
    position: fixed;
    width: 100vw;
    z-index: -1;
}