<article class="profile" id="profile">
    <article class="profile__contact rounded-corner-em" id="experience">
        
      <!-- <mat-accordion> -->
        <mat-expansion-panel hideToggle expanded>
                                  
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Experience</h3>
            </mat-panel-title>
            <mat-panel-description>
              <!-- This is a summary of the content -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <section class="profile__background__experience__physio">
            <h4>Physical Therapist</h4>
            <p><span>Ramathibodi Hospital</span> &#183; <span>Full-time</span></p>
            <p><span>Feb 2011 - Sep 2018</span> &#183; <span>7 yrs 8 mos</span></p>
            <p>Bangkok Metropolitan Area</p>
          </section>
                
          
      </mat-expansion-panel>
      <!-- </mat-accordion> -->
        
    </article>
</article>


