<!-- <h2>APP Component Ready</h2> -->
<!-- This isn't responsive design, not mobile first design. Do not minimize screen! Work best of screen resolution 1680x1050. -->
<!-- เว็บ https://www.swiftviews.com/home ไม่สามารถเข้าถึงได้แล้ว; ดูตัวอย่างจาก https://www.madewithangular.com/sites/swiftviews -->
<!-- การเปิดดูการบ้านแต่ละข้อ ใช้การ commenting ในการ เปิด/ปิด -->

<div>

  <!-- 
    13.1 อัพโหลดโค๊ดขึ้น github ของตนเอง จากนั้นนำลิงก์งานที่อัพขึ้นgithubของตนเองมาใส่ในช่องใส่คำตอบ (กลับไปดูคลิปบทที่ 13 เพื่อฟังโจทย์อีกครั้ง) 
    สร้าง component ให้ครบ
      AppComponent
        HomeComponent
          NavbarComponent
            SearchBarComponent
          TopBannerComponent
          CategoryMenuComponent
    ประกอบ component ที่ได้สร้างเข้าด้วยกันตาม diagram และอิงจากตัวอย่างหน้าจอ เว็บช้อปปี้ (แสดงผล ใช้ html ง่าย ๆ มาใส่) // chk Video 4, 13
  -->
  <app-hmwk1-home></app-hmwk1-home>


</div>