<app-hmwk3-toplogo></app-hmwk3-toplogo>

<app-hmwk3-top-right-menu></app-hmwk3-top-right-menu>

<div class='navbar'>
    <!-- <h3>Navbar3 Component Ready!</h3> -->
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo, erat nec suscipit placerat, lacus est hendrerit ex, quis porta enim sapien a nunc. Nunc pharetra ipsum ac pulvinar ultricies. Nunc pulvinar, nisi sit amet porta volutpat, dolor libero pharetra nulla, vel euismod risus nibh at tellus. Etiam ultricies fermentum pellentesque. Pellentesque at tristique purus. Pellentesque metus lorem, rutrum a faucibus sit amet, tempor vel tellus. Suspendisse id massa maximus, volutpat est sit amet, congue lectus. Donec tempus tortor id arcu tincidunt porttitor.

        In enim odio, tempus gravida porta ut, iaculis mattis ligula. Donec at tempor nulla. Phasellus tincidunt iaculis arcu, eu sagittis ligula cursus eget. Duis cursus congue elit eu feugiat. Nunc id magna auctor ante varius scelerisque eget vel odio. Cras tortor tellus, tempor consequat ex ac, mollis varius augue. Fusce non orci convallis, posuere sem eget, pulvinar arcu. 
    </p>

    <button>BUY</button> <button>TAKE A TOUR</button>
</div>

<app-hmwk3-searchbar></app-hmwk3-searchbar>
