<article class="profile" id="profile">
    <article class="profile__contact rounded-corner-em" id="contact">
        
        <!-- <mat-accordion> -->
            <mat-expansion-panel hideToggle expanded>
        
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>Contact</h3>
                  </mat-panel-title>
                  <mat-panel-description>
                    <!-- This is a summary of the content -->
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <section class="profile__contact__email">
                    <h4>Email</h4>
                    <address><a href="mailto:example@example.com">example@example.com</a></address>
                    <hr class="hr-light">
                </section>       
                
            </mat-expansion-panel>
        <!-- </mat-accordion> -->
        
    </article>
</article>


