/* MOBILE FIRST DESIGN*/
/* TOC */
/* -RESPONSIVE WEB DESIGN:MOBILE, TABLET-PORTRAIT */
/* -RESPONSIVE WEB DESIGN:TABLET-LANDSCAPE */
/* -RESPONSIVE WEB DESIGN:DESKTOP */
/* ---------------------------------------------------------------- */

/*RESPONSIVE WEB DESIGN:MOBILE, TABLET-PORTRAIT */

/* || GENERAL STYLES */
/* * {
	outline: auto;
} */

article {
	background: white;
}





header>h1 {
	text-align: center
}

.profile {
	background: rgba(211, 211, 211, 0.5);
	padding: 1%;
	border-radius: 15px;
	margin-top: 2vh;
}

.profile a:link {
	text-decoration: none;
}





/* || UTILITIES */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.closed {
	display: none;
}

.hr-light{
	color: rgba(211, 211, 211, 0.3);
}

.opened {
	display: block;
}

.rounded-corner-em {
	border: 1px solid grey;
	border-radius: 15px;
	width: 92%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	padding: 2%;
	padding-bottom: 2%;
}







/* || HEADER AND MAIN NAVIGATION */






/* || FOOTER */

/* ---------------------------------------------------------------- */







/* RESPONSIVE WEB DESIGN:TABLET-LANDSCAPE */
@media only screen and (min-width: 780px) {
	/* || GENERAL STYLES */
	h1 {
		/* margin-top: 5vh; */
	}

	header>h1 {
		/* margin-top: 6vh; */
		padding: 10px;
	}

	html {
		scroll-behavior: smooth
	}

	#overview {
		margin-top: 2vh;
	}





	/* || UTILITIES */





	/* || HEADER AND MAIN NAVIGATION */

}
/* ---------------------------------------------------------------- */





/* RESPONSIVE WEB DESIGN:DESKTOP */
@media only screen and (min-width: 1024px) {
	/* || GENERAL STYLES */
	header>h1 {
		margin-left: 4%;
		text-align: left;
	}

	/* || UTILITIES */

	/* || HEADER AND MAIN NAVIGATION */

}
/* ---------------------------------------------------------------- */