<!-- <h2>APP Component Ready</h2> -->
<!-- This isn't responsive design, not mobile first design. Do not minimize screen! Work best of screen resolution 1680x1050. -->
<!-- เว็บ https://www.swiftviews.com/home ไม่สามารถเข้าถึงได้แล้ว; ดูตัวอย่างจาก https://www.madewithangular.com/sites/swiftviews -->
<!-- การเปิดดูการบ้านแต่ละข้อ ใช้การ commenting ในการ เปิด/ปิด -->

<div>
  
  <!-- 
    13.2 อัพโหลดโค๊ดขึ้น github ของตนเอง จากนั้นนำลิงก์งานที่อัพขึ้นgithubของตนเองมาใส่ในช่องใส่คำตอบ (กลับไปดูคลิปบทที่ 13 เพื่อฟังโจทย์อีกครั้ง) 
    สร้าง component ชื่อ ToDoListComponent
    Component มีฟีเจอร์การเพิ่ม task และแสดงจํานวน task ที่ได้เพิ่ม (ซึ่งมีมากกว่า 1 task) ตามตัวอย่าง User Interface ในรูป
  -->
  <!-- <app-hmwk2-todolist></app-hmwk2-todolist> -->



  <!-- 13.3 อัพโหลดโค๊ดขึ้น github ของตนเอง จากนั้นนำลิงก์งานที่อัพขึ้นgithubของตนเองมาใส่ในช่องใส่คำตอบ (กลับไปดูคลิปบทที่ 13 เพื่อฟังโจทย์อีกครั้ง)
  -->
  <app-hmwk3-home></app-hmwk3-home>

</div>