<article class="profile" id="profile">
    <article class="profile__contact rounded-corner-em" id="contact">
        <article class="profile__background__education" id="education">
            
          <!-- <mat-accordion> -->
            <mat-expansion-panel hideToggle expanded>
                            
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3>Education</h3>
                </mat-panel-title>
                <mat-panel-description>
                  <!-- This is a summary of the content -->
                </mat-panel-description>
              </mat-expansion-panel-header>
              <section>
                <h4>Chulalongkorn University</h4>
                <h5><span>Bachelor of Science - BS</span>, <span>Physical Therapy/Therapist</span>, <span> 3.21</span></h5>
                <p>2005 - 2008</p>
                <p>Activities and societies:</p>
                <ul>
                  <li>2008 Staff of Chula Vichakarn</li>
                  <li>2007 Class president of 11<sup>th</sup> Pysical Therapy Student at Chulalongkorn University</li>
                  <li>2007 Staff of Non-Smoking by Physical Therapy Project Competition</li>
                  <li>2007 Staff of Gown Camp</li>
                  <li>2007 Staff of 24<sup>th</sup> Universiade Bangkok</li>
                  <li>2006 Staff of Gown Camp</li>
                  <li>2006 Staff of Chula Vichakarn</li>
                </ul>
                <hr class="hr-light">
              </section>
          
              <section>
                <h4>Assumption College Bangrak Campus</h4>
                <h5><span>High School Certificate</span>, <span>Mathematics - Science</span>, <span>3.13</span></h5>
                <p>1999 - 2004</p>
                <hr class="hr-light">
              </section>
                    
              
          </mat-expansion-panel>
          <!-- </mat-accordion> -->
            
          </article>
    </article>
</article>


